<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=100%, initial-scale=.4">
        <title>[CHANGE TITLE]</title>
        <link href="style.css" rel="stylesheet" type="text/css" media="all">
        <script type="module" src="neotcg/neotcg.js"></script>
    </head>
    <body>

        <div id="main">

            <!-- 
            Use any components detailed in the READme to build a page
            Add page to navigation bar in neotcg > components > header.html
            If changes not seen, refresh cache by navigating to the header.html directly:
                https://[YOUR-SITE].neocities.org/neotcg/neotcg/components/header.html
                Do Ctrl Shift R (page will refresh)
                Then return to your homepage and Ctrl Shift R again
            -->

        </div>

    </body>
</html>
